.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  background-color: rgb(113, 148, 194);
  align-items: center;
  margin-bottom: 15px;
}

nav a {
  text-decoration: none;
  color:bisque;

}

nav a.link-active {

  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px rgba(253, 255, 255, 1);
}

.spiner{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}

.boton{
  background-color: rgb(113, 148, 194);
}

button{
  
  border-radius: 4px;
  padding: 10px;
}